#LoginScreen{
    -fx-background-image: url("https://raw.githubusercontent.com/Aizen5th/LearnStone/DEV_Will/Learnstone_client/Learnstone_JAVAFX/src/sample/resource/images/unnamed.png");
    -fx-background-color: black;
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.19, 0, 0);
}
.text-field{
    -fx-font-family: "Belwe-Medium";
}
#fontloginscreen{
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-font-family: "Belwe-Bold";
    src : url("https://github.com/Aizen5th/LearnStone/blob/DEV_Will/Learnstone_client/Learnstone_JAVAFX/src/sample/resource/fonts/Belwe-Bold.ttf");
}

@font-face {
    font-family: 'Belwe-Medium';
    src: url('https://github.com/Aizen5th/LearnStone/blob/master/Learnstone_client/Learnstone_JAVAFX/ressources/fonts/Belwe-Medium.ttf');
}
.text {
    -fx-font-family: "Belwe-Medium";
    src: url('https://github.com/Aizen5th/LearnStone/blob/DEV_Will/Learnstone_client/Learnstone_JAVAFX/src/sample/resource/fonts/Belwe-Medium.ttf');
}